* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --lightblack: #282828;
  --black: #000000;
  --trasparent-black: #080b12;
  --darkblue: #141922;
  --navbar-big: 300px;
  --navbar-small: 100px;
  --header-height: 100px;
  --player-height: 100px;
}

ul {
  list-style: none;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

/* |GENERALS| */

body {
  color: white;
  background-color: var(--darkblue);
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

/* |UTILS| */

.col {
  padding: 0 1rem;
}

/* |LAYOUT| */

/* *TOP CONTENT */

#top-content {
  height: calc(100vh - var(--player-height));
  display: flex;
}

#navbar {
  width: var(--navbar-big);
  height: 100%;
  background-color: var(--black);
}

#main-content {
  width: calc(100% - var(--navbar-big));
}

#header {
  height: var(--header-height);
  background-color: var(--black);
}

/* * FOOTER */

#player {
  height: 100px;
  background-color: var(--lightblack);
}

/* |SECTIONS| */

/* *FOOTER */

#player {
  display: flex;
  align-items: center;
}

#player .col {
  width: calc(100% / 3);
}

#player > * {
  height: 50px;
}

.list-left-footer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

#player .list-left-footer .card-music {
  width: 50px;
  aspect-ratio: 1;
}

/* |RESPONSIVE| */

@media screen and (max-width: 992px) {
  /* *TOP CONTENT */

  #navbar {
    width: var(--navbar-small);
  }

  #main-content {
    width: calc(100% - var(--navbar-small));
  }
}
