* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --lightblack: #282828;
  --black: #000000;
  --trasparent-black: #080b12;
  --darkblue: #141922;
  --navbar-width: 300px;
  --header-height: 100px;
  --player-height: 100px;
}

ul {
  list-style: none;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

/* |GENERALS| */

body {
  color: white;
  background-color: var(--darkblue);
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

/* |UTILS| */

.col {
  padding: 0 1rem;
}

/* |LAYOUT| */

/* *TOP CONTENT */

#top-content {
  height: calc(100vh - var(--player-height));
  display: flex;
}

#navbar {
  width: var(--navbar-width);
  height: 100%;
  background-color: var(--black);
}

#main-content {
  width: calc(100% - var(--navbar-width));
}

#header {
  height: var(--header-height);
  background-color: var(--trasparent-black);
}

/* * FOOTER */

#player {
  height: 100px;
  background-color: var(--lightblack);
}

/* |SECTIONS| */

/* *NAVBAR */

#navbar {
  padding: 0 1rem;
  position: relative;
}

#navbar .logo {
  display: flex;
  width: 200px;
  height: var(--header-height);
}

#navbar .navbar-main {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 1.5rem;
}

#navbar .navbar-main .navbar-icon,
#navbar .navbar-main .navbar-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#navbar .navbar-playlist {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#navbar .navbar-playlist .add-playlist {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#navbar .add-playlist .btn-add-playlist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1;
  background-color: #a2a2a2;
  color: var(--black);
}

#navbar .list-playlist > * {
  padding: 0.5rem 0;
}

#navbar .navbar-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  padding-bottom: 0.5rem;
}

#navbar .install-app {
  font-size: small;
  position: relative;
}

#navbar .install-app::after {
  display: block;
  content: "";
  width: calc(var(--navbar-width) - 2rem);
  background-color: #a2a2a2;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -50%;
}

#navbar .current-singer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
}

/* *FOOTER */

#player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

#player [class^="col"] {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.left-footer,
.right-footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#player .left-footer .card-music {
  width: 50px;
  aspect-ratio: 1;
}

#player .col-center {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex-grow: 1;
}

#player .center-up-footer,
#player .center-down-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#player .center-up-footer {
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#player .center-down-footer {
  width: 100%;
  font-size: 0.75rem;
  padding: 0;
}

#player .col-line-music {
  flex-grow: 1;
  width: 100%;
  cursor: pointer;
}

#player .line-music {
  height: 2px;
  width: 100%;
  background-color: #5a5a5a;
}

#player .line-music .time-music {
  height: 2px;
  width: 25%;
  background-color: white;
}

#player .col-line-volume {
  flex-grow: 1;
  width: 100px;
  cursor: pointer;
}

#player .line-volume {
  height: 2px;
  width: 100%;
  background-color: #5a5a5a;
}

#player .line-volume .volume {
  height: 2px;
  width: 25%;
  background-color: white;
}

/* |RESPONSIVE| */

@media screen and (max-width: 576px) {
  /* *TOP CONTENT */

  :root {
    --navbar-width: 50px;
  }
}
